{erl_opts,
 [debug_info,
  warn_missing_spec,
  warning_as_errors
 ]}.

{shell,
 [{apps, [erlang_socks5]},
  {config, "config/erlang_socks5.config"}
 ]}.

{deps,
 [{sqlite3, {git, "https://github.com/alexeyr/erlang-sqlite3.git", {branch, "master"}}},
  {ranch, {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}}
 ]}.

{profiles,
 [{test,
   [{deps, [meck]},
    {ct_opts,
     [{logopts, [no_src]},
      {sys_config, ["config/erlang_socks5_test.config"]}
     ]}
   ]}
 ]}.
