[
  {socks5, [
    {binded_interfaces, [
      {"lo0", [
        {ipv4, [
          {10800, [
            {"lo0", ipv4, []},
            {"lo0", ipv6, []}
          ], []}
        ], []},
        {ipv6, [
          {10800, [
            {"lo0", ipv4, []},
            {"lo0", ipv6, []}
          ], []}
        ], []}
      ], [
        {authentication, [
          %% sqlite | unix | config | pam | system.
          {authentication_method, username_passwd},
          %% If authentication_method is no_required then this option has ignored
          {account_storage, [
            {config, [{<<"testuser">>, <<"testpassword">>}]},
            {sqlite, [{connection_params}]}
          ]}
        ]}
      ]}
    ]}
  ]}
].