[
  {erlang_socks5, [
    %% NETWORKING
    %% Socks5 connection port
    {proxy_port, 10800},
    %% Proxy expect connections from this interface
    {proxy_in_interface, "lo"},
    %% Proxy create connections to remote server on this interface
    {proxy_out_interface, "lo"},
    %% AUTHENTICATION
    %% username_password | gss | no_required
    {authentication_method, username_passwd},
    %% sqlite | unix | config | pam | system. If authentication_method is no_required
    %% then this option has ignored
    {accounts_storage, config},
    %% This option will be using if account_storage is config
    {accounts, {"testuser", "testpasswd"}}
  ]}
].